:root {
    --yellow: #F4E225;
    --lightblue: #B2D7FF; 
    --darkblue: #044389;
    --spicyrice: 'Spicy Rice', normal;
    --inter: 'inter', sans-serif;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--lightblue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    text-align: center;
}

.logo-placeholder {
    position: absolute;
    top: 10%;
    left: 5%;
    background-color: var(--yellow);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

h2 { /*Fragentitel*/
    font-size: 40px;
    font-family: var(--inter);
    color: var(--darkblue);
    font-weight: bold;
}

.cloud {
        position: absolute;
        background-size: contain; /* Passt das Bild in den Bereich an */
        background-repeat: no-repeat; /* Verhindert das Wiederholen des Bildes */
        width: 200px; /* Größe der Wolke */
        height: 100px; /* Größe der Wolke */
}

.main-text {
    position: absolute;
    top: 40%;
    width: 100%;
}

.main-text h1 {
    font-size: 64px;
    color: var(--darkblue);
    font-family: var(--spicyrice);
}

.wannwo {
    position: absolute;
    align-content: center;
    display: flex;
}

.wann {
    position: right;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.wo {
    position: left;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}
